@font-face {
    font-family: 'Basier Square';
    src: url('BasierSquare-Regular.woff2') format('woff2'),
        url('BasierSquare-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

